{% extends "base.html" %}

{% load i18n %}

{% block content %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table style="margin-left:auto; margin-right:auto; clear: both;">
    {{ form.as_table }}
</table>
<div style="float: center; text-align: center">
    <button type="submit" class="menu-button">{% trans "Login" %}</button>
</div>
</form>

<div style="float: center; text-align: center"><a href="{% url 'request_recovery' %}">{% trans "Forgotten password?" %}</a></div>

{% endblock %}