{% extends "base.html" %}

{% block content %}
<p style="float: center; text-align: center">If you have forgotten your password, input your e-mail and we'll send you a reset link</p>
<form method="post" action="{% url 'request_recovery' %}">
{% csrf_token %}
<table style="margin-left:auto; margin-right:auto; clear: both;">
    {{ form.as_table }}
</table>
<div style="float: center; text-align: center">
    <button type="submit" class="menu-button">Recover password</button>
</div>
</form>

{% endblock %}