body {
    background-color: azure
}
.header {
    text-align: center
}

.menu-button {
    background-color: teal;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.language-container form,
.language-container form div {
    display: inline;
}

.language-container button {
    display: inline;
    vertical-align: middle;
}

.menu-button:hover {
    background-color: darkslateblue
}
.error {
    color: red;
    text-align: center;
    font-size: large;
    clear: both
}

.notification {
    color: green;
    text-align: center;
    font-size: large;
    clear: both;
}

h2 {
    text-align: center;
    clear: both;
}

h1 {
    text-align: center;
}