<html>
    <head>
        {% load static %}
        <title>Pumba!</title>
        <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    </head>
    <body>
        <div class="header">
            <h1><a href="/"><img src="{% static 'logo.png' %}"/></a></h1>
            {% if user.is_authenticated %}
            <div style="float: right;"><a href = "{% url 'feedback' %}">Bug report / Feedback</a></div>
            {% endif %}
        </div>
        {% if notification %}
            <p class="notification">{{notification}}</p>
        {% endif %}
        {% if error %}
            <p class="error">{{error}}</p>
        {% endif %}
        <div class="content">
                {% block content %}
                {% endblock %}
        </div>
    </body>
</html>