{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div style="text-align: center">
    <h2>{% trans "You can send any feedback or bug report about Pumba here" %}</h2>
<form method="post" action="{% url 'feedback' %}">
    {% csrf_token %}
    {{ form.email.label }}<br>
    <span class = "error">{{ form.email.errors.as_text }}</span><br>
    {{ form.email }}<br><br>
    {{ form.subject.label }}<br>
    <span class = "error">{{ form.subject.errors.as_text }}</span><br>
    {{ form.subject }}<br><br>
    {{ form.body.label }}<br>
    <span class = "error">{{ form.body.errors.as_text }}</span><br>
    {{ form.body }}<br><br>
    <button type="submit" class="menu-button">{% trans "Send!" %}</button>
</form>
</div>

{% endblock %}