{% extends 'base.html' %}

{% block content %}

{% load static %}

<script src="{% static 'game/phaser.min.js' %}"></script>

<script src = "{% static 'game/game_ui.js' %}"></script>

<script src = "{% static 'game/game_anims.js' %}"></script>

<script src = "{% static 'game/game_states.js' %}"></script>

<style>
.playername {
    color: aqua
}
</style>

<div id="error-msg" class="error"></div>

<div id="game-div"></div>

<script>

    // ID de la partida
    var roomName = "{{ id }}";

    // Cuál es nuestro player index
    var playerIndex = {{ your_id }};

    // Cómo nos llamamos nosotros
    var playerName = undefined

    // Websocket al servidor
    var gameSocket = undefined
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    try {
        gameSocket = new WebSocket(ws_scheme + "://" + window.location.host + '/ws/game/' + roomName + '/');
    } catch (error) {
        gameSocket = new WebSocket(ws_scheme + "://pumba-game.herokuapp.com" + '/ws/game/' + roomName + '/');
    }

    

    var config = {
        type: Phaser.AUTO,
        dom: {
            createContainer: true
        },
        physics: {
            default: 'arcade',
            arcade: {
                gravity: { y: 0 }
            }
        },
        scene: {
            preload: preload,
            create: create,
            update: update
        },
        scale: {
            parent: 'game-div',
            mode: Phaser.Scale.FIT,
            autoCenter: Phaser.Scale.CENTER_BOTH,
            width: 1920,
            height: 1080
        },
        backgroundColor: "#678986"
    };

    // Objeto de juego global
    var game = new Phaser.Game(config);

    // Escena
    var scene = undefined

    // Para cargar imágenes
    var loader = undefined

    // Estado de juego interno
    var game_state = {

    }

    // Cola de estados de juego
    var game_state_queue = [
        undefined
    ]

    // Apunta al último estado de juego procesado
    var game_state_index = 0

    // Si ya se está procesando la cola de estados o no
    var game_state_processing = false

    // Coordenadas base de la pila de juego
    // Las coordenadas de la pila de descarte, número de cartas y otras cosas dependen de esta coordenada
    var play_pile_coordinates = [-254 / 2 + 1920 / 2 + 100, 1080 / 3]
    function getDrawPileCoordinates() {
        return [play_pile_coordinates[0] + 300, play_pile_coordinates[1]]
    }
    // Escala de la pila de juego
    // La escala de otros elementos también depende de ella
    var play_pile_scale = [0.8, 0.8]

    // Divs HTML para el registro de chat y de acciones
    var chatboxdiv = undefined
    var historicaldiv = undefined
    var alldiv = undefined

    // Si mostramos determinados tipos de mensaje o no (el usuario lo cambia con botones en la UI)
    var show_chat = true
    var show_system = true

    // Toggle para terminar automáticamente tu turno o no (el usuario lo cambia con botones en la UI)
    var auto_end_turn = false
    function getAutoEndTurn() {
        return auto_end_turn
    }
    function setAutoEndTurn(bool) {
        auto_end_turn = bool
    }

    // Grupos de sprites y texto
    var piles_group = undefined
    var players_group = undefined
    var player_pictures_group = undefined
    var piles_group = undefined
    var hand_group = undefined
    var drawCounter_group = undefined
    var turnDirection_group = undefined
    var switchButtons_group = undefined
    var ui_group = undefined
    var ui_group_autoend_circle = undefined
    var beginMatch_group = undefined
    var wonMatch_group = undefined
    var divine_group = undefined
    var chat_group = undefined

    // Variables varias de la UI para iluminar o no botones de esta
    // Si ha robado este turno
    // 0: No (puede robar otra)
    // 1: Una vez (puede robar otra)
    // 2: Dos o más (No puede robar más)
    var drawn_this_turn = 0
    // Si puede terminar el turno o no
    // Verdadero o falso
    var can_end_turn = false
    // Si ha jugado un rey este turno
    // Verdadero o falso
    var has_played_king = false
    // Si ha jugado una carta este turno
    // Verdadero o falso
    var has_played_card = false

    // Si se sabe la carta que hay encima de la biblioteca por DIVINE, se guarda aquí
    var last_divined = undefined
    // Si un jugador roba una carta divinada, la guardamos aquí (se inicia a array de arrays luego)
    var players_divined = undefined

    function getPlayersDivined() {
        if (players_divined == undefined) {
            players_divined = []
            for(i = 0; i < game_state['players'].length; i++) {
                players_divined.push([])
            }
        }
        return players_divined
    }

    // Últimas cartas jugadas, para mostrarlas visualmente en hover
    var last_cards_played = []
    var last_cards_played_visible = 4
    function addCardPlayedToVisualDisplay(card) {
        last_cards_played.unshift(card)
        if (last_cards_played.length > last_cards_played_visible) {
            last_cards_played = last_cards_played.slice(0, last_cards_played_visible)
        }
    }

    // Mensajes de chat
    var chat_messages = []
    // Cuánto scroll se ha hecho
    var chat_offset = 0
    // Por defecto 10 mensajes
    var max_messages_displayed = 10
    // Cuánto debería tener de longitud horizontal la ventana de chat
    var word_wrap_width = 300
    // Tamaño de fuente del chat
    var chat_text_size = 16
    // Se usa para calcular cuántas líneas tiene cada mensaje y romperlo adecuadamente
    var example_text = undefined

    // Carga las imágenes que vamos a necesitar
    function preload ()
    {
        loader = this
        // Sin loops ni nada porque se tiene que hacer en servidor
        this.load.image('BASTOS-ONE', "{% static 'BASTOS-ONE.png' %}")
        this.load.image('BASTOS-TWO', "{% static 'BASTOS-TWO.png' %}")
        this.load.image('BASTOS-COPY', "{% static 'BASTOS-COPY.png' %}")
        this.load.image('BASTOS-DIVINE', "{% static 'BASTOS-DIVINE.png' %}")
        this.load.image('BASTOS-FLIP', "{% static 'BASTOS-FLIP.png' %}")
        this.load.image('BASTOS-SWITCH', "{% static 'BASTOS-SWITCH.png' %}")
        this.load.image('BASTOS-JUMP', "{% static 'BASTOS-JUMP.png' %}")
        this.load.image('BASTOS-KING', "{% static 'BASTOS-KING.png' %}")

        this.load.image('COPAS-ONE', "{% static 'COPAS-ONE.png' %}")
        this.load.image('COPAS-TWO', "{% static 'COPAS-TWO.png' %}")
        this.load.image('COPAS-COPY', "{% static 'COPAS-COPY.png' %}")
        this.load.image('COPAS-DIVINE', "{% static 'COPAS-DIVINE.png' %}")
        this.load.image('COPAS-FLIP', "{% static 'COPAS-FLIP.png' %}")
        this.load.image('COPAS-SWITCH', "{% static 'COPAS-SWITCH.png' %}")
        this.load.image('COPAS-JUMP', "{% static 'COPAS-JUMP.png' %}")
        this.load.image('COPAS-KING', "{% static 'COPAS-KING.png' %}")

        this.load.image('ESPADAS-ONE', "{% static 'ESPADAS-ONE.png' %}")
        this.load.image('ESPADAS-TWO', "{% static 'ESPADAS-TWO.png' %}")
        this.load.image('ESPADAS-COPY', "{% static 'ESPADAS-COPY.png' %}")
        this.load.image('ESPADAS-DIVINE', "{% static 'ESPADAS-DIVINE.png' %}")
        this.load.image('ESPADAS-FLIP', "{% static 'ESPADAS-FLIP.png' %}")
        this.load.image('ESPADAS-SWITCH', "{% static 'ESPADAS-SWITCH.png' %}")
        this.load.image('ESPADAS-JUMP', "{% static 'ESPADAS-JUMP.png' %}")
        this.load.image('ESPADAS-KING', "{% static 'ESPADAS-KING.png' %}")

        this.load.image('OROS-ONE', "{% static 'OROS-ONE.png' %}")
        this.load.image('OROS-TWO', "{% static 'OROS-TWO.png' %}")
        this.load.image('OROS-COPY', "{% static 'OROS-COPY.png' %}")
        this.load.image('OROS-DIVINE', "{% static 'OROS-DIVINE.png' %}")
        this.load.image('OROS-FLIP', "{% static 'OROS-FLIP.png' %}")
        this.load.image('OROS-SWITCH', "{% static 'OROS-SWITCH.png' %}")
        this.load.image('OROS-JUMP', "{% static 'OROS-JUMP.png' %}")
        this.load.image('OROS-KING', "{% static 'OROS-KING.png' %}")

        this.load.image('card-back', "{% static 'card-back.png' %}")
        this.load.image('draw-card', "{% static 'draw-card.png' %}")
        this.load.image('end-turn', "{% static 'end-turn.png' %}")
        this.load.image('toggle-end-turn', "{% static 'toggle-autoend-turn.png' %}")
        this.load.image('toggle-end-turn-circle', "{% static 'toggle-autoend-turn-circle.png' %}")
        this.load.image('forced-draw', "{% static 'forced-draw.png' %}")

        this.load.image('mute-chat', "{% static 'mute-chat.png' %}")
        this.load.image('mute-historical', "{% static 'mute-historical.png' %}")

        this.load.image('button-espadas', "{% static 'button-espadas.png' %}")
        this.load.image('button-bastos', "{% static 'button-bastos.png' %}")
        this.load.image('button-oros', "{% static 'button-oros.png' %}")
        this.load.image('button-copas', "{% static 'button-copas.png' %}")

        this.load.audio('your-turn-sound', "{% static 'your-turn.mp3' %}")
        this.load.audio('enemy-turn-sound', "{% static 'enemy-turn.wav' %}")
        this.load.audio('play-card-sound', "{% static 'play-card.wav' %}")
        this.load.audio('draw-card-sound', "{% static 'draw-card.wav' %}")
        this.load.audio('game-won-sound', "{% static 'game-won.wav' %}")

        this.load.html('form', "{% static 'game/form.html' %}");
        this.load.html('chatdiv', "{% static 'game/chatdiv.html' %}");
        this.load.html('historicaldiv', "{% static 'game/historicaldiv.html' %}");
        this.load.html('alldiv', "{% static 'game/alldiv.html' %}");

        /*
        this.load.on('progress', function (value) {
            console.log(value);
        });
                    
        this.load.on('fileprogress', function (file) {
            console.log(file.src);
        });
        */
        
        this.load.on('complete', function () {
            //console.log('All loading done');
            // Le pedimos que al terminar de cargar vuelva a pintar las imágenes de jugadores, para que recarguen automáticamente
            // las imágenes cuando lleguen
            if (player_pictures_group != undefined) {
                drawPlayerPictures()
            }
        });

    }

    function onSocketOpenSetup() {
        // Pedimos el primer estado de juego
        gameSocket.send(JSON.stringify({
            'type': "game_state"
        }));

        // Pedimos las profile pictures de los jugadores conectados (el servidor ignora índices no válidos)
        for (i = 0; i < 10; i++) {
            gameSocket.send(JSON.stringify({
                'type': "profile_picture",
                'index': i
            }));
        }

        {% if cheats %}

        gameSocket.send(JSON.stringify({
            'type': "debug"
        }));

        {% endif %}
    }

    // Inicializa el juego
    function create ()
    {
        //console.log(game)
        //console.log(this)
        // "This" es la escena de juego
        scene = this
        
        //console.log(scene)
        //console.log(scene.textures.exists('card-back'))
        //console.log(scene.textures.exists('ay lamao'))
        
        // Esto sirve para copiar sus caracteristicas para el chat
        example_text = scene.add.text(0, 0, "", {fontSize: chat_text_size, fontFamily: 'Arial', wordWrap: { width: word_wrap_width, useAdvancedWrap: true }})
        //drawBeginMatch()
        // Pide el estado de juego cuando todo esta listo
        if (gameSocket.readyState == gameSocket.OPEN) {
            onSocketOpenSetup()
        }
        
        createChatBoxes()
    }

    function createChatBoxes() {
        // Crea el form para enviar mensajes de chat
        var element = scene.add.dom(180, 575).createFromCache('form');
        element.setScale(2, 2);

        // Callback cuando pones una letra en el input de chat
        keyupChat = function (e) {
            if (e.keyCode === 13) {  // enter, return
                var messageInputDom = document.querySelector('#chat-input');
                var message = messageInputDom.value;
                message = message.trim()
                if (message != ""){
                    gameSocket.send(JSON.stringify({
                        'type': "chat_message",
                        'message': message
                    }));
                }
                messageInputDom.value = '';
            }
        }

        // Asignamos el callback
        element.addListener('keyup');
        element.on('keyup', keyupChat)

        // Crea un div para los mensajes de chat y lo oculta
        chatboxdiv = scene.add.dom(20, 250).createFromCache('chatdiv');
        chatboxdiv.setScale(1, 1);
        chatboxdiv.setVisible(false)

        // Crea un div para el registro de acciones y lo oculta
        historicaldiv = scene.add.dom(20, 250).createFromCache('historicaldiv');
        historicaldiv.setScale(1, 1);
        historicaldiv.setVisible(false)

        // Crea un div para todos los registros
        alldiv = scene.add.dom(20, 250).createFromCache('alldiv');
        alldiv.setScale(1, 1);
        alldiv.setVisible(true)


        // Función para mostrar u ocultar divs en función de lo que se quiere ver
        function updateChatDivs() {
            if (show_chat == true && show_system == true) {
                alldiv.setVisible(true)
                chatboxdiv.setVisible(false)
                historicaldiv.setVisible(false)
            } else if (show_chat == true) {
                alldiv.setVisible(false)
                chatboxdiv.setVisible(true)
                historicaldiv.setVisible(false)
            } else if (show_system == true) {
                alldiv.setVisible(false)
                chatboxdiv.setVisible(false)
                historicaldiv.setVisible(true)
            } else {
                alldiv.setVisible(false)
                chatboxdiv.setVisible(false)
                historicaldiv.setVisible(false)
            }
        }

        // Crea un botón para ocultar y mostrar mensajes de chat
        var chatbtn = scene.add.sprite(75, 675, 'mute-chat')
        chatbtn.setScale(0.1, 0.1)
        chatbtn.setInteractive()

        function swapChatVisibility() {
            return function() {
                if (show_chat == true) {
                    show_chat = false
                    chatbtn.setTint(0xaaaaaa)
                } else {
                    show_chat = true
                    chatbtn.setTint(0xffffff)
                }
                updateChatDivs()
            }
        }

        chatbtn.on('pointerup', swapChatVisibility())
        chatbtn.on('pointerover', function() {
            var ttween = scene.tweens.add({
                targets: chatbtn,
                scaleX: 0.15,
                scaleY: 0.15,
                ease: "Linear",
                duration: 150,
                repeat: 0,
                yoyo: false,
            })
        })
        chatbtn.on('pointerout', function() {
            var ttween = scene.tweens.add({
                targets: chatbtn,
                scaleX: 0.1,
                scaleY: 0.1,
                ease: "Linear",
                duration: 150,
                repeat: 0,
                yoyo: false,
            })
        })

        // Crea un botón para ocultar y mostrar mensajes del sistema
        var sysbtn = scene.add.sprite(225, 675, 'mute-historical')
        sysbtn.setScale(0.2, 0.2)
        sysbtn.setInteractive()

        function swapSysVisibility() {
            return function() {
                if (show_system == true) {
                    show_system = false
                    sysbtn.setTint(0xaaaaaa)
                } else {
                    show_system = true
                    sysbtn.setTint(0xffffff)
                }
                updateChatDivs()
            }
        }

        sysbtn.on('pointerup', swapSysVisibility())
        sysbtn.on('pointerover', function() {
            var ttween = scene.tweens.add({
                targets: sysbtn,
                scaleX: 0.3,
                scaleY: 0.3,
                ease: "Linear",
                duration: 150,
                repeat: 0,
                yoyo: false,
            })
        })
        sysbtn.on('pointerout', function() {
            var ttween = scene.tweens.add({
                targets: sysbtn,
                scaleX: 0.2,
                scaleY: 0.2,
                ease: "Linear",
                duration: 150,
                repeat: 0,
                yoyo: false,
            })
        })

        
    }

    // Se ejecuta cada frame
    function update() {
        // Comprueba si hay estados pendientes de mostrar en pantalla, e inicia el proceso si es necesario
        //console.log("Estados: " + game_state_queue.length + ", índice: " + game_state_index + ", procesando: " + game_state_processing)
        if (game_state_processing == false && game_state_index < game_state_queue.length - 1){
            startPlayingStates()
        } else {
            if(game_state_queue.length - game_state_index - 1 > 0) {
                //console.log("ERROR")
            }
        }
    }

    // Función módulo porque JavaScript tiene retraso
    function modulo(n, m) {
        return ((n % m) + m) % m;
    }
    </script>

<script>

function appendToDiv(div, message) {
    try {
        var cbdiv = document.getElementById(div)
        cbdiv.innerHTML += message + "<br>"
        cbdiv.scrollTop = cbdiv.scrollHeight
    } catch(err) {
        console.log(err)
    }
}

// Pone un mensaje de chat en el div de chat
function appendToChatbox(message) {
    appendToDiv("chatdiv", message)
    appendToDiv("alldiv", message)
}

// Pone un registro de algo que ha pasado en el historial
function appendToRecord(message) {
    appendToDiv("historicaldiv", message)
    appendToDiv("alldiv", message)
}

// Añade un estado a la cola de estados, a actualizar a la más pronta conveniencia
// data: Paquete de datos recibido del servidor. Tiene un estado y una acción que ha llevado a dicho estado.
function addToStateQueue(data) {
    game_state_queue.push(data)
}

    function processNotification(data) {
        var event = data['info']['event']
        // Si alguien se conecta o desconecta, pedimos su imagen de perfil
        if (event == 'connect' || event == 'disconnect') {
            gameSocket.send(JSON.stringify({
                'type': "profile_picture",
                'index': data['info']['player']
            }));
        }
    }

    function loadProfilePicture(ref, indx) {
        //console.log("Loading pfp " + "player-" + indx)
        loader.load.image("player-" + indx, ref)
        if (loader.load.isReady()) {
            loader.load.start()
        }
    }

    function checkProfilePictures(data){
        // Si falta alguna profile picture, la pedimos
        try {
            //console.log(scene)
            for (i = 0; i < data['players'].length; i++){
                if (!(scene.textures.exists("player-" + i))) {
                    //console.log("Picture " + i + " missing, reloading")
                    gameSocket.send(JSON.stringify({
                        'type': "profile_picture",
                        'index': i
                    }));
                }
            }
        } catch (error) {
            console.log(error)
        }
    }

    // Hace lo que haga falta cuando llega un mensaje
    gameSocket.onmessage = function(e) {
        // Parsea el JSON
        var data = JSON.parse(e.data);
        // Recupera el tipo del mensaje
        var message_type = data['type']
        // Paquete es un estado de juego
        if (message_type == "game_state"){
            addToStateQueue(data)
            checkProfilePictures(data)
        // Paquete es un mensaje de chat
        } else if (message_type == "chat_message"){
            var message = data['message'];
            var username = data['username'];
            var composed = "<span class='playername'>" + username + "</span>" + ": " + message
            appendToChatbox(composed);
        // Paquete es una notificación de sistema
        } else if (message_type == "notification"){
            appendToChatbox(data['message'])
            processNotification(data)
        // Paquete es un error
        } else if (message_type == "error") {
            appendToChatbox("Error: " + data['message'])
        // Paquete es un ACK del servidor (no hace nada)
        } else if (message_type == "ok"){
            //document.querySelector('#chat-log').value += ("OK: Command executed successfully" + '\n');
        // Paquete es una notificación de que el socket se está cerrando desde el servidor
        } else if (message_type == "disconnect") {
            document.getElementById("error-msg").innerHTML += data['reason'] + "<br>"
        // Paquete es una notificación por usar la carta DIVINE
        } else if (message_type == "divination") {
            //appendToChatbox("The next card drawn will be a " + data['card']['number'] + " of " + data['card']['suit'] + ".");
            // Nos guardamos cuál carta es aparte para mostrarla si alguien la roba
            last_divined = data['card']
            drawDivine(data['card']['suit'], data['card']['number'])
        } else if (message_type == "profile_picture") {
            var ref = data['picture']
            var indx = data['index']
            loadProfilePicture(ref, indx)
        }

        {% if cheats %}
        // Este script solamente existe si haces trampa.
        // Captura el mensaje de información privilegiada (contiene las manos de todo el mundo)
        if (message_type == "cheat_info") {
            var hands = data['hands']
            // Actualizamos el select de jugadores
            try {
                document.getElementById("select-player").innerHTML = ""
                for (i = 0; i < hands.length; i++) {
                    var option = document.createElement("option")
                    option.value = i
                    option.innerText = game_state["players"][i][0]
                    document.getElementById("select-player").appendChild(option)
                }
            } catch (error) {
                console.log(error)
            }
            // Reseteamos el div
            document.getElementById("cheat-div").innerHTML = ""
            // Por cada mano, dibujamos las cartas
            for (i = 0; i < hands.length; i++){
                var div = document.createElement("ul")
                var hand = hands[i]
                for (j = 0; j < hand.length; j++) {
                    // Carta particular
                    var line = document.createElement("li")
                    line.innerText = hand[j][0] + " " + hand[j][1]
                    // Input para eliminarla
                    var input = document.createElement("button")
                    input.innerText = "Remove"
                    // Llama a una función con i, j para determinar el onclick, que es una función que depende de los parámetros de la primera función
                    // #JustJavascriptThings
                    input.onclick = function (pindex, cindex) {
                        return function() {
                            removeThisCard(pindex, cindex)
                        }
                    }(i, j)
                    line.appendChild(input)
                    // Añadimos la línea al padre
                    div.appendChild(line)
                }
                document.getElementById("cheat-div").appendChild(div)
            }
        }
        {% endif %}
    }

    // Qué hacer si se cierra el websocket de forma inesperada
    // Muestra un mensaje en la parte de arriba de la pantalla
    gameSocket.onclose = function(e) {
        document.getElementById("error-msg").innerHTML += "The connection to the server was lost<br>"
    };

    // Cuando el WebSocket está listo tras abrir la página, pide el estado de la partida al servidor
    gameSocket.onopen = function(event) {
        onSocketOpenSetup()
    }
</script>

{% if cheats %}

<script>
function requestPrivilegedInfo(){
    gameSocket.send(JSON.stringify({
            'type': "debug"
    }));
}
function removeThisCard(pindex, cindex) {
    gameSocket.send(JSON.stringify({
            'type': "debug",
            'cheat': "remove_card",
            'player_index': pindex,
            'card_index': cindex
    }));
}

function addCard() {
    var select_suit = document.getElementById("select-suit")
    var suit = select_suit.options[select_suit.selectedIndex].value;

    var select_number = document.getElementById("select-number")
    var number = select_number.options[select_number.selectedIndex].value;

    var select_player = document.getElementById("select-player")
    var player = select_player.options[select_player.selectedIndex].value;

    gameSocket.send(JSON.stringify({
            'type': "debug",
            'cheat': "add_card",
            'suit': suit,
            'number': number,
            'player': player
    }));
}

function changeSuit() {
    var se = document.getElementById("select-suit");
    var str = se.options[se.selectedIndex].value;
    gameSocket.send(JSON.stringify({
            'type': "debug",
            'cheat': "change_suit",
            'suit': str,
    }));
}

function changeNumber() {
    var se = document.getElementById("select-number");
    var str = se.options[se.selectedIndex].value;
    gameSocket.send(JSON.stringify({
            'type': "debug",
            'cheat': "change_number",
            'number': str,
    }));
}
</script>

<input type = "button" value="Refresh" onclick="requestPrivilegedInfo()"><br>
<input type="button" value="Change suit" onclick="changeSuit()"><input type="button" value="Change number" onclick="changeNumber()"><input type="button" value="Add card" onclick="addCard()"><br>

<select id="select-suit">
    <option value="BASTOS">Bastos</option>
    <option value="ESPADAS">Espadas</option>
    <option value="COPAS">Copas</option>
    <option value="OROS">Oros</option>
</select>

<select id="select-number">
        <option value="ONE">One</option>
        <option value="TWO">Two</option>
        <option value="COPY">Copy</option>
        <option value="DIVINE">Divine</option>
        <option value="FLIP">Flip</option>
        <option value="SWITCH">Switch</option>
        <option value="JUMP">Jump</option>
        <option value="KING">King</option>
</select>

<select id = "select-player">

</select>

<div id = "cheat-div"></div>
{% endif %}

{% endblock %}