{% extends "base.html" %}

{% block content %}
<h2>{{ game_name }}</h2>
<p id="error-msg" class = "error"></p>
<div style="float: left;">
<textarea id="chat-log" cols="100" rows="20" style="width: 100%"></textarea><br/>
<input id="chat-message-input" type="text" size="100"/><br/>
<input id="chat-message-submit" type="button" value="Send"/><br/><br/>
</div>
<div style="float: left; padding-left: 10px">
    <div id="game-status-display"></div>
    <div id="last-suit-display"></div>
    <div id="last-number-display"></div>
    <div id="last-effect-display"></div>
    <div id="current-player-display"></div>
    <div id="next-player-display"></div>
    <div id="turn-direction-display"></div>
    <div id="draw-counter-display"></div>
    <div id="draw-pile-display"></div>
    <div id="play-pile-display"></div>
    <div id="hand-display"><p></p></div>
    <div id="switch-buttons"><p></p></div>
</div>
<div id="player-list" style="float:right; padding-left: 10px"><p></p></div>


<!--Botones para enviar comandos-->
<div style="clear:both">
<input id="begin-match" type="button" value="Begin match">
<input id="draw-card" type="button" value="Draw card">
<input id="end-turn" type="button" value="End turn">
<input id="update-state" type="button" value="Update game state">
</div>
<script>
    // ID de la partida
    var roomName = "{{ id }}";

    // Mano actual
    var current_hand = []

    // Último palo
    var last_effect = undefined

    // Websocket al servidor
    var gameSocket = new WebSocket(
        'ws://' + window.location.hostname +
        '/ws/game/' + roomName + '/');

    // Procesamiento a hacer cuando se recibe un mensaje
    // TODO De momento solamente acepta mensajes de chat
    gameSocket.onmessage = function(e) {
        // Parsea el JSON
        var data = JSON.parse(e.data);
        // Recupera el tipo del mensaje
        var message_type = data['type']
        // Le da un procesamiento u otro dependiendo de qué sea
        var chatbox = document.querySelector('#chat-log')
        // Mensaje de chat
        if (message_type == "chat_message"){
            var message = data['message'];
            var username = data['username'];
            var composed = username + ": " + message
            chatbox.value += (composed + '\n');
            chatbox.scrollTop = chatbox.scrollHeight
        // Notificación de chat de sistema
        } else if (message_type == "chat_notification"){
            chatbox.value += (data['message'] + '\n');
            chatbox.scrollTop = chatbox.scrollHeight
        } else if (message_type == "chat_error") {
            chatbox.value += ("Error: " + data['message'] + '\n');
            chatbox.scrollTop = chatbox.scrollHeight
        } else if (message_type == "ok"){
            //document.querySelector('#chat-log').value += ("OK: Command executed successfully" + '\n');
            //after_change()
        } else if (message_type == "game_state"){
            //console.log(data)
            document.querySelector('#game-status-display').innerHTML = "Game status: " + data['game_status']
            document.querySelector('#last-suit-display').innerHTML = "Last suit: " + data['last_suit']
            document.querySelector('#last-number-display').innerHTML = "Last number: " + data['last_number']
            document.querySelector('#last-suit-display').innerHTML = "Last suit: " + data['last_suit']
            document.querySelector('#last-effect-display').innerHTML = "Last effect: " + data['last_effect']
            document.querySelector('#current-player-display').innerHTML = "Current player: " + data['current_player']
            document.querySelector('#next-player-display').innerHTML = "Next player: " + data['next_player']
            document.querySelector('#turn-direction-display').innerHTML = "Turn direction: " + data['turn_direction']
            document.querySelector('#draw-counter-display').innerHTML = "Draw counter: " + data['draw_counter']
            document.querySelector('#draw-pile-display').innerHTML = "Draw pile size: " + data['draw_pile']
            document.querySelector('#play-pile-display').innerHTML = "Play pile size: " + data['play_pile']
            
            // Si se usa un COPY con SWITCH, hay que mostrar los botones, así que guardamos esto para luego
            last_effect = data['last_effect']
            // Coge el div de la lista de jugadores
            var playerlist = document.querySelector('#player-list')
            // Borra todo lo que hubiera dentro
            playerlist.innerHTML = ""
            // Coge la lista de jugadores del JSON
            var players = data['players']
            // Crea una nueva lista en el DOM
            var olist = document.createElement('ol');
            olist.setAttribute("start", 0)
            // Pone la lista en el div
            playerlist.appendChild(olist)
            // Itera sobre la lista de jugadores
            players.forEach(function(player) {
                // Crea las tags de lista
                var li = document.createElement("li")
                olist.appendChild(li)
                var playerconstatus = "Connected"
                if (player[2]){
                    playerconstatus = "AI"
                }
                li.innerHTML = player[0] + " | " + player[1] + " cards" + " | " + playerconstatus
            })

            // Coge el div para mostrar la mano
            var hand_display = document.querySelector('#hand-display')
            // Borra todo lo que hubiera dentro
            hand_display.innerHTML = ""
            // Añade un párrafo de texto aclaratorio
            var par = document.createElement('p');
            par.innerText = "Your hand: "
            hand_display.appendChild(par)
            // Coge la lista de cartas del JSON
            var hand = data['hand']
            // Crea una nueva lista en el DOM
            var ol = document.createElement('ol');
            ol.setAttribute("start", 0)
            // Pone la lista en el div
            hand_display.appendChild(ol)
            // Itera sobre la mano del JSON
            var index = 0
            current_hand = []
            hand.forEach(function(item){
                // Guarda la mano fuera (Suit | Number)
                current_hand.push([item[0], item[1]])
                // Crea las tags de lista
                var li = document.createElement("li")
                // Crea un botón
                var btn = document.createElement("input")
                btn.setAttribute("type", "button")
                btn.setAttribute("value", "Play")
                // Le pone un atributo arbitrario con el índice
                btn.setAttribute("index", index)
                // Le pone una ID
                btn.setAttribute("id", "hand-play")
                // Al pulsar el botón, juega la carta
                btn.onclick = function (e) {
                    var indx = e.target.getAttribute('index');
                    gameSocket.send(JSON.stringify({
                        'type': "play_card",
                        'index': indx
                    }));
                    // Si es un SWITCH, añade botones para elegir nuevo palo
                    if (current_hand[indx][1] == "SWITCH" || (current_hand[indx][1] == "COPY" && last_effect == "SWITCH")){
                        display_switch_buttons()
                    }
                }
                ol.appendChild(li)
                li.innerHTML = item[0] + " | " + item[1]
                li.appendChild(btn)
                index = index + 1
            });
        }
    };

    // Qué hacer si se cierra el websocket de forma inesperada
    gameSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        document.getElementById("error-msg").textContent += "The connection to the server was lost";
    };

    // Hace autofocus en el chat al entrar en partida
    document.querySelector('#chat-message-input').focus();
    // Cuando presionas Enter, envía el mensaje
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    // Envía un mensaje de chat al servidor
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        gameSocket.send(JSON.stringify({
            'type': "chat_message",
            'message': message
        }));

        messageInputDom.value = '';
    };

    // Comando "Begin match"
    document.querySelector('#begin-match').onclick = function(e) {
        gameSocket.send(JSON.stringify({
            'type': "begin_match"
        }));
    };

    // Comando "End turn"
    document.querySelector('#end-turn').onclick = function(e) {
        // Borra los botones de SWITCH si existen
        // TODO Buscar alguna solución más elegante
        var switch_buttons = document.querySelector('#switch-buttons')
        switch_buttons.innerHTML = ""
        gameSocket.send(JSON.stringify({
            'type': "begin_turn"
        }));
    };

    // Comando "Update game state"
    document.querySelector('#update-state').onclick = function(e) {
        gameSocket.send(JSON.stringify({
            'type': "game_state"
        }));
    };

    // Comando "Draw card"
    document.querySelector('#draw-card').onclick = function(e) {
        gameSocket.send(JSON.stringify({
            'type': "draw_card"
        }));
    };

    // Cuando el WebSocket está listo tras abrir la página, pide el estado de la partida
    // al servidor
    gameSocket.onopen = function(event) {
        gameSocket.send(JSON.stringify({
            'type': "game_state"
        }));
    }
    // Se ejecuta después de cada comando
    function after_change() {
        //var checkbox = document.querySelector('#autoupdate-state')
        // checkbox.checked
        if(false){
            gameSocket.send(JSON.stringify({
                'type': "game_state"
            }));
        }
    };

    // Pone los botones para hacer SWITCH
    function display_switch_buttons(){
        // Coge el div correspondiente y lo vacía
        var switch_buttons = document.querySelector('#switch-buttons')
        switch_buttons.innerHTML = ""
        
        // Crea los botones
        var bastos = document.createElement("input")
        bastos.setAttribute("type", "button")
        bastos.setAttribute("value", "BASTOS")

        var espadas = document.createElement("input")
        espadas.setAttribute("type", "button")
        espadas.setAttribute("value", "ESPADAS")

        var oros = document.createElement("input")
        oros.setAttribute("type", "button")
        oros.setAttribute("value", "OROS")

        var copas = document.createElement("input")
        copas.setAttribute("type", "button")
        copas.setAttribute("value", "COPAS")

        // Pone callbacks para enviar el comando al servidor
        bastos.onclick = function (e) {
            gameSocket.send(JSON.stringify({
                'type': "switch_effect",
                'switch': "BASTOS"
            }));
        }

        espadas.onclick = function (e) {
            gameSocket.send(JSON.stringify({
                'type': "switch_effect",
                'switch': "ESPADAS"
            }));
        }

        oros.onclick = function (e) {
            gameSocket.send(JSON.stringify({
                'type': "switch_effect",
                'switch': "OROS"
            }));
        }

        copas.onclick = function (e) {
            gameSocket.send(JSON.stringify({
                'type': "switch_effect",
                'switch': "COPAS"
            }));
        }

        // Añade los hijos
        switch_buttons.appendChild(bastos)
        switch_buttons.appendChild(copas)
        switch_buttons.appendChild(oros)
        switch_buttons.appendChild(espadas)
    }
</script>
{% endblock %}