{% extends "base.html" %}

{% load mathfilters %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'game/matchmaking.css' %}">

{% if yours is not None %}

<h2>Your matches</h2>

<table class="matchmaking_table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Player count
        </th>
        <th>
            AIs
        </th>
        <th>
            Players
        </th>
        <th>
            
        </th>
    </tr>
    {% for game in yours %}
    <tr>
        <th class="matchmaking_table_row">{{ game.name }}</th>
        <th class="matchmaking_table_row">{{ game.current_users }} / {{ game.max_users|sub:game.ai_count }}</th>
        <th class="matchmaking_table_row">{{ game.ai_count }}</th>
        <th class="matchmaking_table_row">
            {% for player in game.users.all %}
                {{ player.username }}<br/>
            {% endfor %}
        </th>
        <th class="matchmaking_table_row">
            <a href="/game/join?id={{ game.key }}"><button class="join-match-button">Rejoin</button></a>
        </th>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if games is not None %}

<h2>Join match</h2>

<table class="matchmaking_table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Player count
        </th>
        <th>
            AIs
        </th>
        <th>
            Players
        </th>
        <th>
            
        </th>
    </tr>
    {% for game in games %}
    <tr>
        <th class="matchmaking_table_row">{{ game.name }}</th>
        <th class="matchmaking_table_row">{{ game.current_users }} / {{ game.max_users|sub:game.ai_count }}</th>
        <th class="matchmaking_table_row">{{ game.ai_count }}</th>
        <th class="matchmaking_table_row">
            {% for player in game.users.all %}
                {% if player.username == user.username %}
                    <span style="color: coral">{{ player.username }}</span><br/>
                {% else %}
                    {{ player.username }}<br/>
                {% endif %}
            {% endfor %}
        </th>
        <th class="matchmaking_table_row">
            {% if game.current_users < game.capacity %}
                <a href="/game/join?id={{ game.key }}"><button class="join-match-button">Join</button></a>
            {% else %}
                <button class="full-match-button">Full</button>
            {% endif %}
        </th>
    </tr>
    {% endfor %}
</table>

{% else %}

<p style="text-align: center">No games found</p>

{% endif %}

<h2>Create match</h2>
<div style="text-align: center">
<form method="post" action="{% url 'create_match' %}" id="create-match-form">
    {% csrf_token %}
    <table class="form-table">
    {{ form.as_table }}
    </table>
    <button type="submit" class="create-match-button" style="float: center; text-align: center">Create match</button>
</form>
</div>

{% endblock %}