{% extends "base.html" %}

{% load static %}
{% load cloudinary %}

{% block content %}

<div style="text-align: center">{% cloudinary profile.userprofilepicture.picture %}</div>

<h2>Change profile picture</h2>

<script>
    // Comprueba que el fichero no se pasa de tamaño
    function validateSize(file) {
        // Convierte a MB
        var size = file.files[0].size / 1024 / 1024; 
        // Si se pasa de tamaño, lo echa para atrás
        if (size > 2.5) {
            alert('Please select a file of at most 2.5 MB');
            $(file).val('');
        }
    }
</script>

<form action="{% url 'upload_profile_picture' %}" method="POST" enctype="multipart/form-data" style="text-align: center">
    {% csrf_token %}
    {{ form.profile }}
    {{ form.picture }}<br>
    <br><input type="submit" value="Upload">
</form>

{% if profile.userprofilepicture %}
<div style="text-align: center"><a href="{% url 'delete_profile_picture' %}"><button>Delete profile picture</button></a></div>
{% endif %}
{% endblock %}