{% extends "base.html" %}

{% load static %}
{% load cloudinary %}

{% block content %}

<div style="text-align: center">{% cloudinary profile.userprofilepicture.picture %}</div>

<h2>Change profile picture</h2>
<form action="{% url 'upload_profile_picture' %}" method="POST" enctype="multipart/form-data" style="text-align: center">
    {% csrf_token %}
    {{ form.profile }}
    {{ form.picture }}<br>
    <br><input type="submit" value="Upload">
</form>

{% if profile.userprofilepicture %}
<div style="text-align: center"><a href="{% url 'delete_profile_picture' %}"><button>Delete profile picture</button></a></div>
{% endif %}
{% endblock %}